
<section class="strips">
  
    <article class="strips__strip">
        <a class="nav-link" routerLink="yoga">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Lorem">Yoga</h1>
        
        
      </div>
    </a>
    </article>
    <article class="strips__strip">
        <a class="nav-link" routerLink="poty">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Ipsum">7mepoty</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          
        </div>
      </div>
      </a>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Dolor">Go</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Sit">Inside</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
          
        </div>
      </div>
    </article>
    <article class="strips__strip">
      <div class="strip__content">
        <h1 class="strip__title" data-name="Amet">Here</h1>
        <div class="strip__inner-text">
          <h2>Ettrics</h2>
         
        </div>
      </div>
    </article>
    <i class="fa fa-close strip__close"></i>
  </section>
  
  